/*******************************

Main styles
**********************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1c1c1c;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 1.5rem;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

li {
  list-style: none;
}

.special-a {
  text-decoration: none;
}

header {
  background-color: #ffffff;
  padding: 20px;
}

header .container {
  display: flex;
  align-items: center;
}

header a {
  margin-right: 30px;
  font-size: 20px;
  text-transform: uppercase;
  color: #424345;
}

header a.active {
  color: dodgerblue;
}

header a img {
  width: 90px;
}

main .container {
  padding: 50px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.blue-sec {
  background-color: dodgerblue;
  height: 20px;
}

footer {
  background-color: #303030;
  padding: 40px;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a img {
  width: 35px;
}

footer .button-gray {
  border: 2px solid dodgerblue;
  margin-right: 20px;
  padding: 10px;
}

footer .button-gray:hover {
  background-color: dodgerblue;
}

footer .button-gray a {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
}

footer .footer-right {
  display: flex;
  align-items: center;
}

footer .footer-right a {
  color: dodgerblue;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

