/*******************************

Main styles
**********************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1c1c1c;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 1.5rem;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

li {
  list-style: none;
}

.special-a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #ffffff;
  padding: 20px;
  color: black;
}

