header{
    background-color: $text-col;
    
    
}

header .container{
    display: flex;
    align-items: center;
}

header a{
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: $nav-col;
    transition: color .2s;
    line-height: 104px;
    &:hover,
    &.active{
        color: $button-col;
        border-bottom: 8px solid dodgerblue;
    }
}
    
    

header img{
    width: 90px;
    margin-left: 60px;
    margin-right: 30px;
}
    

