header{
    background-color: $text-col;
    padding: 20px;
    color: black;
}

header .container{
    display: flex;
    align-items: center;
}

a{
    margin-right: 30px;
    font-size: 20px;
    text-transform: uppercase;
}
    

