header{
    background-color: $text-col;
    padding: 20px;
    
}

header .container{
    display: flex;
    align-items: center;
}

header a{
    margin-right: 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: $nav-col;
    &.active{
        color: $button-col;
    }
}

a img{
    width: 90px;
}
    

