.news-back{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3d/DC_Comics_logo.svg');
    background-size: 195px;
    position: relative;
    background-repeat: repeat;
    
}

.box-text{
    background: #0000008c;
    padding: 10px;
    border-radius: 10px;
}
    

.box-text .title-news{
    width: 595px;
    margin: 10px;
    color: #ac9f9f;
    cursor: pointer;
    &:hover{
        color: dodgerblue;
    }
}